body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3074d2;
}

.log-container {
  margin-bottom: 20px;
}
.log-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log-container span {
  flex-grow: 1;
}

.log-container .delete-btn {
  margin-left: 10px;
  width: 20%;
  background-color: red; /* Set the background color to red */
  color: #fff; /* Set the text color to white */
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.log-container .delete-btn:hover {
  background-color: darkred; /* Darken the background color on hover */
}

.log-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

#total-hour-amount {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  background-color: #4285f4;
  color: #fff;
  margin-bottom: 20px;
}
